<a href="#" class="hover-3d my-12 mx-2 cursor-pointer" (click)="goToPage.emit(cardTitle || ''); $event.preventDefault()">

  <!-- content -->
  <div
    class="card w-96 bg-black text-white bg-[radial-gradient(circle_at_bottom_left,#ffffff04_35%,transparent_36%),radial-gradient(circle_at_top_right,#ffffff04_35%,transparent_36%)] bg-size-[4.95em_4.95em]">
    <figure>
      <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
    </figure>
    <div class="card-body">
      <div class="flex justify-between mb-10">
        <div class="font-bold">{{ cardTitle }}</div>
        <!-- <div class="text-5xl opacity-10">❁</div> -->
      </div>
    </div>
  </div>

  <!-- 8 empty divs needed for the 3D effect -->
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</a>